<?xml version="1.0"?>
<config>
    <modules>
        <TTS_Baokim>
            <version>0.1.0</version>
        </TTS_Baokim>
    </modules>
    <frontend>
        <routers>
            <baokim>
                <use>standard</use>
                <args>
                    <module>TTS_Baokim</module>
                    <frontName>baokim</frontName>
                </args>
            </baokim>
        </routers>
        <layout>
            <updates>
                <baokim>
                    <file>baokim.xml</file>
                </baokim>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<baokim>
				<use>admin</use>
				<args>
					<module>TTS_Baokim</module>
					<frontName>baokim</frontName>
				</args>
			</baokim>
        </routers>
    </admin>
    <adminhtml>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<TTS_Baokim>
							<title>Baokim Module</title>
							<sort_order>10</sort_order>
						</TTS_Baokim>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<baokim>
					<file>baokim.xml</file>
				</baokim>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <baokim>
                <class>TTS_Baokim_Model</class>
                <resourceModel>baokim_mysql4</resourceModel>
            </baokim>
            <baokim_mysql4>
                <class>TTS_Baokim_Model_Mysql4</class>
                <entities>
                    <baokim>
                        <table>baokim</table>
                    </baokim>
                </entities>
            </baokim_mysql4>
        </models>
        <resources>
            <baokim_setup>
                <setup>
                    <module>TTS_Baokim</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </baokim_setup>
            <baokim_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </baokim_write>
            <baokim_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </baokim_read>
        </resources>
        <blocks>
            <baokim>
                <class>TTS_Baokim_Block</class>
				
            </baokim>
        </blocks>
        <helpers>
            <baokim>
                <class>TTS_Baokim_Helper</class>
            </baokim>
        </helpers>
		   
    </global>
	
	 <default>
 <payment>
   <baokim>
       <active>1</active>
       <model>baokim/Baokim</model>
        <order_status>pending</order_status>
      <title>Thanh toán với Bảo Kim</title>
      <allowspecific>0</allowspecific>
      <group>offline</group>
   </baokim>
         </payment>
		
    </default>
</config>