<?xml version="1.0"?>  
<config>  
	<modules>  
		<JoomlArt_JmProducts>  
			<version>0.1.0</version>  
		</JoomlArt_JmProducts>  
	</modules>  
	<frontend>
		<translate>
			<modules>
				<JoomlArt_JmProducts>
					<files>
						<default>JoomlArt_JmProducts.csv</default>
					</files>
				</JoomlArt_JmProducts>
			</modules>
		</translate>
		<layout>
			<updates>
				<jmproducts>
					<file>jmproducts.xml</file>
				</jmproducts>
			</updates>
		</layout>
	</frontend>	
	<global>  		     
		<blocks>  
			<joomlart_jmproducts>  
				<class>JoomlArt_JmProducts_Block</class>  
			</joomlart_jmproducts>  
		</blocks> 		
		<models>  
			<joomlart_jmproducts>  
				<class>JoomlArt_JmProducts_Model</class>  
			</joomlart_jmproducts>  
		</models>
		<helpers>  
			<joomlart_jmproducts>  
				<class>JoomlArt_JmProducts_Helper</class>  
			</joomlart_jmproducts>  
		</helpers>	
	</global>  
	
	<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <joomlart_jmproducts>
                                            <title>JM Products List</title>
                                        </joomlart_jmproducts>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
			<modules>
				<JoomlArt_JmProducts>
					<files>
						<default>JoomlArt_JmProducts.csv</default>
					</files>
				</JoomlArt_JmProducts>
			</modules>
		</translate>
    </adminhtml>	
		
	<default>
        <joomlart_jmproducts>
            <joomlart_jmproducts>
                <show>1</show>                
                <mode>latest</mode>                
                <title>JM Product List</title>                
                <quanlity>8</quanlity>
                <template>joomlart/jmproducts/list.phtml</template>                
                <perrow>3</perrow>
								<width>135</width>   
								<height>135</height>  
								<max>0</max>     
            </joomlart_jmproducts>
        </joomlart_jmproducts>
    </default>
</config>  