<?xml version="1.0"?>  
<config>  
	<modules>  
		<JoomlArt_JmRSS>  
			<version>0.1.0</version>  
		</JoomlArt_JmRSS>  
	</modules>  
	<frontend>
		<translate>
			<modules>
				<JoomlArt_JmRSS>
					<files>
						<default>JoomlArt_JmRSS.csv</default>
					</files>
				</JoomlArt_JmRSS>
			</modules>
		</translate>
		<layout>
			<updates>
				<jmrss>
					<file>jmrss.xml</file>
				</jmrss>
			</updates>
		</layout>
	</frontend>	
	<global>  		     
		<blocks>  
			<joomlart_jmrss>  
				<class>JoomlArt_JmRSS_Block</class>  
			</joomlart_jmrss>  
		</blocks> 		
		<models>  
			<joomlart_jmrss>  
				<class>JoomlArt_JmRSS_Model</class>  
			</joomlart_jmrss>  
		</models>
		<helpers>  
			<joomlart_jmrss>  
				<class>JoomlArt_JmRSS_Helper</class>  
			</joomlart_jmrss>  
		</helpers>	
	</global>
	<global> 		     
		<blocks>  
			<joomlart_jmrss_cache>  
				<class>JoomlArt_JmRSS_Block</class>  
			</joomlart_jmrss_cache>  
		</blocks> 		
		<models>  
			<joomlart_jmrss_cache>  
				<class>JoomlArt_JmRSS_Model</class>  
			</joomlart_jmrss_cache>  
		</models>
		<helpers>  
			<joomlart_jmrss_cache>  
				<class>JoomlArt_JmRSS_Helper</class>  
			</joomlart_jmrss_cache>  
		</helpers>	
	</global>  
	<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <joomlart_jmrss>
                                            <title>JM RSS READER</title>
                                        </joomlart_jmrss>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        
		<translate>
			<modules>
				<JoomlArt_JmRSS>
					<files>
						<default>JoomlArt_JmRSS.csv</default>
					</files>
				</JoomlArt_JmRSS>
			</modules>
		</translate>
    </adminhtml>	

    <default>
        <joomlart_jmrss>
            <joomlart_jmrss>
                <show>1</show>                
                <title>JM RSS Feed</title>
                <seturl>http://www.joomla.org/index.php?option=com_rss_xtd&amp;feed=RSS2.0&amp;type=com_frontpage&amp;Itemid=1</seturl>
                <show_introduce>1</show_introduce>
                <aquanlity>5</aquanlity>
                <showLink>1</showLink>
                <maxchars>200</maxchars>
                <showDate>1</showDate>
                <date_format>Y-m-d H:i:s</date_format>
                <support_html>1</support_html>
                <!--<showImage>1</showImage>
                <width>100</width>
                <height>100</height>
                <folderImage>media/jmrss</folderImage>-->
		
            </joomlart_jmrss>
            <joomlart_jmrss_cache>
                <jmodeCache>0</jmodeCache>                
                <cachelife>1000</cachelife>                
            </joomlart_jmrss_cache>
        </joomlart_jmrss>
    </default>
	
</config>  